# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Matlab_old/
.idea/
Python/.idea/inspectionProfiles/profiles_settings.xml
Python/.idea/misc.xml
Python/.idea/modules.xml
Python/.idea/Python.iml
Python/.idea/vcs.xml
